---
// src/components/Header.astro
import { 
    SITE, 
    NAV, 
    ROUTES 
} from '@/consts';

import Container from './ui/Container.astro';
import Icon from './ui/icons/Icon.astro';
import Mobile from './MobileNav.astro';
import Theme from './Theme.astro';

const currentPath = Astro.url.pathname;
---

<header id="main-header" class="sticky top-0 z-50 border-b">
    <Container size='full'>
        <div class="mx-auto h-(--header-height) w-full flex items-center justify-between">
            <a href={ROUTES.home}
                class="inline-flex shrink-0 items-center gap-1.5 font-bold tracking-wider text-xl text-(--fg) hover:opacity-80 transition-opacity"
                >
                <Icon name="c0deks1" className='w-6 h-6' />
                <span class="text-(--fg-dim) font-normal">/</span>
                <Icon name="logo" className='w-6 h-6' />
                <span class="hidden sm:flex">{SITE.name}</span>
            </a>
            <div class="flex items-center gap-3">
                <nav class="hidden sm:flex items-center gap-6 text-label-14 font-medium">
                    {NAV.navBar.map((item) => (
                        <a
                            href={item.href}
                            class:list={[
                                "transition-colors",
                                currentPath === item.href
                                ? "text-(--accent)"
                                : "text-(--fg-muted) hover:text-(--fg)",
                            ]}
                            target={item.isExternal ? '_blank' : undefined}
                            rel={item.isExternal ? 'noopener noreferrer' : undefined}
                            >
                            {item.label}
                        </a>
                    ))}
                </nav>
                <span class="text-xl text-(--fg-dim) font-normal hidden sm:inline-flex">|</span>
                <Theme />
                <Mobile />
            </div>
        </div>
    </Container>
</header>

<script is:inline>
    const header = document.getElementById('main-header');
    
    const toggleHeader = () => {
        if (window.scrollY > 20) {
            header?.classList.add('bg-(--bg)', 'border-(--border-subtle)', 'shadow-md');
            header?.classList.remove('border-transparent');
        } else {
            header?.classList.remove('bg-(--bg)', 'border-(--border-subtle)', 'shadow-md');
            header?.classList.add('border-transparent');
        }
    };

    window.addEventListener('scroll', toggleHeader);
    toggleHeader();
</script>